In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4),['a', 'b', 'c', 'd', 'e'], ['W', 'X', 'Y', 'Z'])

In [4]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [5]:
df['W']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: W, dtype: float64

In [6]:
type(df['W'])

pandas.core.series.Series

In [7]:
df[['W', 'Z']]

          W         Z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [8]:
df['new'] = df['W'] + df['Y']

In [9]:
df

          W         X         Y         Z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [11]:
df.drop('new', axis=1,inplace=True)

In [12]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

row = 0
column = 1

In [13]:
df.loc['a']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: a, dtype: float64

In [14]:
# choose row by index number
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: c, dtype: float64

In [17]:
df.loc[['a','b'] ,['W','Y']]

          W         Y
a  2.706850  0.907969
b  0.651118 -0.848077

Data Frame Part II

In [19]:
booldf = df > 0

In [21]:
booldf

       W      X      Y      Z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [22]:
df[booldf]

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [23]:
df['W'] > 0

a     True
b     True
c    False
d     True
e     True
Name: W, dtype: bool